<script src="signWechat.js"></script>
<head>
	<meta charset="utf-8">
	<title>编辑</title>
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
	<META HTTP-EQUIV="pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="expires" CONTENT="0">
	<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
	<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
</head>
<body ontouchstart="">
	<div class="container" id="container">
		<div class="weui-tab">
			<div class="weui-tab__panel">
				<div class="weui-cells__title">原始参考图片</div>
				<div class="weui-cells">
					<div class="weui-cell">
						<article class="weui-article">
							<div id="previewImage">
								<img src="{{originPic}}">
							</div>
						</article>
					</div>
				</div>
				<div class="weui-cells__title">附加在绣花上的文字(比如名字\昵称)</div>
				<div class="weui-cells">
					<div class="weui-cell">
						<div class="weui-cell__bd">
							<input class="weui-input" id="inputTextContent" maxlength="50" type="text" placeholder="请输入附加在绣花的文字" value="{{textContent}}" oninput="editContent($('#inputTextContent').val(), 'orderByCustomer', 'textContent')"/>
						</div>
					</div>
				</div>
				<div class="weui-cells__title">价格:{{orderPrice}}<br>订单将由{{tailorNickName}}为您处理。</div>
				<div class="weui-cells weui-cells_radio" id='radio-choose-express-method'>
					<label class="weui-cell weui-check__label" for="x11">
						<div class="weui-cell__bd">
							<p>和店主当面交付衣物</p>
						</div>
						<div class="weui-cell__ft">
							<input type="radio" class="weui-check" name="expressRadio" v-model='pickMethod' id="x11"  value='byHand' />
							<span class="weui-icon-checked"></span>
						</div>
					</label>
					<label class="weui-cell weui-check__label" for="x12">
						<div class="weui-cell__bd">
							<p>快递交付衣物</p>
						</div>
						<div class="weui-cell__ft">
							<input type="radio" name="expressRadio" class="weui-check"  v-model='pickMethod' id="x12" value='byExpress'  />
							<span class="weui-icon-checked"></span>
						</div>
					</label>
				</div>
				<div id="tailorExpressInfo" v-if='seen' >
					<div class="weui-cells__title" id='tailorAddressContent' v-html="tailorAddressInfo">
					</div>
					<div class="weui-cells__title"><a href="javascript:" class="weui-btn weui-btn_primary" onclick="javascript:editCustomerAddress()" id='customerAddress'>寄回衣物快递信息</a></div>
					<div class="weui-cells">
						<div class="weui-cell">
							<div class="weui-cell__bd" id='customerAddressContent' v-html="customerAddressInfo">
								点击上面按钮填写
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="weui-tabbar">
				<div class="weui-cells__tips" id="modifyStatus"></div><a href="javascript:showShareTip();" class="weui-btn weui-btn_primary">分享</a><div class="weui-cells__tips"></div><a href="javascript:" class="weui-btn weui-btn_primary" id="chooseWXPay">支付</a>
			</div>
			<div class="js_dialog" id="iosDialog2" style="display: none;">
				<div class="weui-mask"></div>
				<div class="weui-dialog">
					<div class="weui-dialog__bd">点击右上角按钮，即可分享到朋友圈，或发给好友</div>
					<div class="weui-dialog__ft">
						<a href="javascript:closeShareTip();" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
	var imgUrl = '{{imgUrl}}';
	wx.config({
		debug : sign.debug,
		appId :sign.appId
	,
		timestamp :sign.timestamp
	,
		nonceStr :sign.nonceStr
	,
		signature :sign.signature
	,
		jsApiList : [ 'checkJsApi', 'onMenuShareTimeline',
				'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo',
				'onMenuShareQZone', 'hideMenuItems', 'showMenuItems',
				'hideAllNonBaseMenuItem', 'showAllNonBaseMenuItem',
				'translateVoice', 'startRecord', 'stopRecord',
				'onVoiceRecordEnd', 'playVoice', 'onVoicePlayEnd',
				'pauseVoice', 'stopVoice', 'uploadVoice', 'downloadVoice',
				'chooseImage', 'previewImage', 'uploadImage', 'downloadImage',
				'getNetworkType', 'openLocation', 'getLocation',
				'hideOptionMenu', 'showOptionMenu', 'closeWindow',
				'scanQRCode', 'chooseWXPay', 'openProductSpecificView',
				'addCard', 'chooseCard', 'openCard','openAddress' ]
	});
</script>
<script src="http://cdnjs.gtimg.com/cdnjs/libs/zepto/1.1.4/zepto.min.js"></script>
<script src="js/edit-order-by-customer.js"></script>
<script src="js/private-util.js"></script>
</html>